* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

#interior {
	width: 2400px;
	height: 600px;
	border: 2px solid #000;
	position: absolute;
}

#queue-enter,
#queue-leave {
	width: 500px;
	height: 200px;
	position: absolute;
	bottom: 100px;
	right: 25px;
	overflow: hidden;
}

#product-belt {
	width: 1800px;
	height: 64px;
	border-bottom: 1px solid #ccc;
	position: absolute;
	bottom: 160px;
	left: 0;
	overflow: hidden;
}

x-customer {
	display: block;
	width: 40px;
	height: 180px;
	background: rgb(244,23,213);
	position: absolute;
	text-align: center;
}

x-customer.walking {
	opacity: 0.5;
}

x-product {
	width: 48px;
	height: 48px;
	position: absolute;
	background: #ccc;
	display: block;
	text-align: center;
}