* {
	margin: 0;
	padding: 0;
	image-rendering: pixelated;
}


html, body {
	height: 100%;
	overflow-y: hidden;
}
body::-webkit-scrollbar {
	display: none;
}


body {
	font-family: sans-serif;
	background: #000;
	max-width: 100%;
	overflow-x: auto;
	
	margin: 0 auto;
	cursor: grab;

	position: relative;
	height: 100%;
    width: 100%;
    display: table;

    -ms-overflow-style: none;
}

#game {
	display: table-cell;
    height: 100%;
    vertical-align: middle;
}

#shop {
	overflow-y: hidden;
	margin: 0 auto;
	width: 2200px;
	height: 600px;
	background: #4b4b66;
	position: relative;
}

#exterior {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 130px;
	background: #23233a;
	width: 100%;
}

#queue-enter,
#queue-leave {
	width: 500px;
	height: 135px;
	position: absolute;
	bottom: 130px;
	right: 0;
	overflow: hidden;
}

#product-belt {
	width: 1500px;
	height: 64px;
	position: absolute;
	bottom: 160px;
	right: 530px;
}

#product-belt::before,
#product-belt::after {
	display: block;
	position: absolute;
	content: "";
	background: #848484;
	bottom: 0px;
	left: 0;
	right: 0;
	height: 22px;
} 

#product-belt::after {
	bottom: -32px;
	height: 32px;
	background: #545454;
}

x-customer {
	position: absolute;
}

x-customer .sprite {
	display: block;
	width: 96px;
	height: 192px;
	background: transparent url("img/Characters.png") no-repeat;
}

#queue-leave x-customer .sprite {
	filter: brightness(50%);
	transform: scale(-1, 1);
}

x-customer[data-sprite="1"] .sprite {background-position-x: calc(-95px*1);}
x-customer[data-sprite="2"] .sprite {background-position-x: calc(-95px*2);}
x-customer[data-sprite="3"] .sprite {background-position-x: calc(-95px*3);}
x-customer[data-sprite="4"] .sprite {background-position-x: calc(-95px*4);}
x-customer[data-sprite="5"] .sprite {background-position-x: calc(-95px*5);}
x-customer[data-sprite="6"] .sprite {background-position-x: calc(-95px*6);}
x-customer[data-sprite="7"] .sprite {background-position-x: calc(-95px*7);}
x-customer[data-sprite="8"] .sprite {background-position-x: calc(-95px*8);}
x-customer[data-sprite="9"] .sprite {background-position-x: calc(-95px*9);}
x-customer[data-sprite="10"] .sprite {background-position-x: calc(-95px*10);}
x-customer[data-sprite="11"] .sprite {background-position-x: calc(-95px*11);}
x-customer[data-sprite="12"] .sprite {background-position-x: calc(-95px*12);}
x-customer[data-sprite="13"] .sprite {background-position-x: calc(-95px*13);}
x-customer[data-sprite="14"] .sprite {background-position-x: calc(-95px*14);}
x-customer[data-sprite="15"] .sprite {background-position-x: calc(-95px*15);}
x-customer[data-sprite="16"] .sprite {background-position-x: calc(-95px*16);}
x-customer[data-sprite="17"] .sprite {background-position-x: calc(-95px*17);}
x-customer[data-sprite="18"] .sprite {background-position-x: calc(-95px*18);}
x-customer[data-sprite="19"] .sprite {background-position-x: calc(-95px*19);}

x-product {
	width: 48px;
	height: 48px;
	position: absolute;
	background: #ccc;
	display: block;
	text-align: center;
}

/*
UI
*/

#request-dialog {
	position: absolute;
	bottom: 300px;
	right: 450px;
	background: #fff;
	border: 4px solid #000;
	box-shadow: 5px 5px rgba(0,0,0,0.3);
	padding: 0 24px;
	height: 100px;
	z-index: 100;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

#request-dialog #request-dialog-timer,
#request-dialog .item {
	display: block;
	width: 48px;
	height: 48px;
}

#request-dialog-timer {
	background: transparent url("img/Sprites_16.png") no-repeat;
	background-position: calc(-48px*0) calc(-48px*19);
}

#request-dialog-timer[data-progress="0"] {background-position-x: calc(-48px*0); }
#request-dialog-timer[data-progress="1"] {background-position-x: calc(-48px*1); }
#request-dialog-timer[data-progress="2"] {background-position-x: calc(-48px*2); }
#request-dialog-timer[data-progress="3"] {background-position-x: calc(-48px*3); }
#request-dialog-timer[data-progress="4"] {background-position-x: calc(-48px*4); }
#request-dialog-timer[data-progress="5"] {background-position-x: calc(-48px*5); }
#request-dialog-timer[data-progress="6"] {background-position-x: calc(-48px*6); }
#request-dialog-timer[data-progress="7"] {background-position-x: calc(-48px*7); }
#request-dialog-timer[data-progress="8"] {background-position-x: calc(-48px*8); }
#request-dialog-timer[data-progress="9"] {background-position-x: calc(-48px*9); }
#request-dialog-timer[data-progress="10"] {background-position-x: calc(-48px*10); }
#request-dialog-timer[data-progress="11"] {background-position-x: calc(-48px*11); }
#request-dialog-timer[data-progress="12"] {background-position-x: calc(-48px*12); }

.icon_16 {
	background: transparent url("img/Sprites_16.png") no-repeat;
}

.icon_16[data-type="coffee_0"] {background-position: calc(-48px*0) calc(-48px*0); }
.icon_16[data-type="coffee_1"] {background-position: calc(-48px*1) calc(-48px*0); }
.icon_16[data-type="coffee_2"] {background-position: calc(-48px*2) calc(-48px*0); }
.icon_16[data-type="coffee_3"] {background-position: calc(-48px*3) calc(-48px*0); }
.icon_16[data-type="coffee_4"] {background-position: calc(-48px*4) calc(-48px*0); }
.icon_16[data-type="coffee_5"] {background-position: calc(-48px*5) calc(-48px*0); }
.icon_16[data-type="coffee_6"] {background-position: calc(-48px*6) calc(-48px*0); }
.icon_16[data-type="coffee_7"] {background-position: calc(-48px*7) calc(-48px*0); }

.icon_16[data-type="pastry_0"] {background-position: calc(-48px*0) calc(-48px*1); }
.icon_16[data-type="pastry_1"] {background-position: calc(-48px*1) calc(-48px*1); }
.icon_16[data-type="pastry_2"] {background-position: calc(-48px*2) calc(-48px*1); }
.icon_16[data-type="pastry_3"] {background-position: calc(-48px*3) calc(-48px*1); }
.icon_16[data-type="pastry_4"] {background-position: calc(-48px*4) calc(-48px*1); }
.icon_16[data-type="pastry_5"] {background-position: calc(-48px*5) calc(-48px*1); }
.icon_16[data-type="pastry_6"] {background-position: calc(-48px*6) calc(-48px*1); }
.icon_16[data-type="pastry_7"] {background-position: calc(-48px*7) calc(-48px*1); }